<html>
<head>
    <script src="/jQuery.js"></script>
    <script src="/js/vaktliste/new.js"></script>
</head>
<h1>Generer nytt semester</h1>
Start dato: <input type="date" id="start"><br>
Slutt dato: <input type="date" id="end"><br>
<button id="generate">Generer</button>
</html>