<!DOCTYPE html>
<html>
<head>
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> --><script src="/jQuery.js"></script>
</head>
<body>
<div class="tyJCtd mGzaTb baZpAe">
    <h2>Synkron</h2>
    <p><a href="/admin/vaktliste" target="_blank">Redigere vaktliste</a></p>
    <p><a href="/admin/booking" target="_blank">Redigere bookingskjema</a></p>
    <h3>Medlemmer</h3>
    <p><a href="https://docs.google.com/spreadsheets/d/1nFMRsJC7K5NgS0E193VUITI9ZfUYfhFBTKkrlQ6QLCs/edit#gid=199202015" target="_blank">Komitémedlemmer</a></p>
    <p><a href="https://docs.google.com/spreadsheets/d/1nFMRsJC7K5NgS0E193VUITI9ZfUYfhFBTKkrlQ6QLCs/edit#gid=1523264395" target="_blank">Styremedlemmer</a></p>
    <p><a class="dhtgD" href="https://docs.google.com/spreadsheets/d/1nFMRsJC7K5NgS0E193VUITI9ZfUYfhFBTKkrlQ6QLCs/edit#gid=152613529" target="_blank">Scenemedlemmer</a></p>
    <p><a href="https://docs.google.com/spreadsheets/d/1nFMRsJC7K5NgS0E193VUITI9ZfUYfhFBTKkrlQ6QLCs/edit#gid=2062773166" target="_blank">KIP’ere</a></p>
    <h3>Styremøte</h3>
    <p><a href="https://www.google.com/url?q=https://docs.google.com/spreadsheets/d/11X0PbTzK3X_ODfO_T3hrRq20yRQZ5A-1oYUHRdOnC4s/pubhtml?gid%3D0%26single%3Dtrue&amp;sa=D&amp;ust=1486472735090000&amp;usg=AFQjCNG__ivhiHbjv_TNqf7ZkJb-8UQ_Wg" target="_blank">Til styremøte</a></p>
</div>
</body>
</html>