<!DOCTYPE html>
<html>
<head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="317471746226-lr6rc8sokgah7l6q3nfnf07h6etqnl9r.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/js/vaktliste.js"></script>
    <style>
        table, th, td {
            border: 1px solid rgba(0, 0, 0, 0.2);
        }
        table {
            width: 100%;
        }

        thead tr {
            background: rgb(209, 109, 106);
        }

        tbody tr:nth-child(2n - 1), tbody tr:nth-child(2n ) {
            background: rgb(238, 205, 205);
        }

        tbody tr:nth-child(4n), tbody tr:nth-child(4n - 1) {
            background: rgb(253, 242, 208);
        }

        tbody td[rowspan]:nth-child(1){
            font-size: 20px;
        }
    </style>
</head>
<body>
<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
<%- content %>
<script>
    function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        $.ajax({
            url: '/api/login',
            type: 'GET',
            data: {
                email: profile.getEmail()
            },
            success: function(){
                //window.location = "/vaktliste";
            }
        });
    }
</script>
</body>
</html>